@import url('https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&family=Inria+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&family=Inria+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Kaushan+Script&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: "Inria Serif";
}

.navbar-brand img{
    height: 150px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.main-bar {
    background-color: rgba(255, 255, 255, 0.925) !important;
    backdrop-filter: blur(20px) !important;

}

a{
    text-decoration: none;
}

.nav-item a{
    font-size: 22px;
    color: #3B3A3E;
}

.gettinghere{
    background-color: #CCB186 !important;
    height: 42px;
    width: 170px;
    border-radius: 5px;
    color: white;
    border: none;
    font-size: 20px;
}


.hero-container{
    width: 100%;
    height: 100vh;
    background-image: url(assets/hero1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-container::after{
    content: '';
    background-color: #3030308c;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.first-title {
    padding-top: 380px !important;
}

.second-title{
    font-family: "Kaushan Script";
    font-size: 130px;
    color: #fcddae;
}

.btnStores{
    border: none;
    background-color: transparent;
    color: rgb(255, 255, 255);
    width: 300px;
    height: 60px;
    font-size: 20px;
    border-radius: 5px;
    transition: 0.4s ease !important;
    border: solid;
    border-width: 1px;
    border-color: #FEF7ED;
}

.btnStores:hover{
    background-color: #CCB186;
    color: white;
    width: 320px;
    border: none;
}


.a-few-words{
    color: #3B3A3E;
    position: relative;
}

.a-few-words::before {
    content: '';
    width: 100px;
    height: 6px;
    background-color: #CCB186;
    position: absolute;
    top: -20px;
}

.few-words-img{
    height: 300px;
}

.our-services{
    position: relative;
}

.our-services::before{
    content: '';
    width: 100px;
    height: 6px;
    background-color: #CCB186;
    position: absolute;
    top: -20px;
    left: 45%;
}

.zoom-img{
    overflow: hidden !important;
}

.zoom-img img{
    transition: all 0.5s ease-in-out !important;
}

.zoom-img img:hover {
    transform: scale(1.2) !important;
}

.where-to-find{
    position: relative;
}

.where-to-find::before{
    content: '';
    width: 100px;
    height: 6px;
    background-color: #CCB186;
    position: absolute;
    top: -20px;
    left: 0;
}

.btnDirections {
    width: 230px; 
    background-color: #FEF7ED; 
    border-radius: 5px; 
    border-width: 1px; 
    border-color: #555555;
    font-size: 18px; 
    transition: 0.5s ease;
}



.btnDirections:hover {
    background-color: #CCB186;
    border: none;
    color: white;
    width: 250px;
}

.facebookBtn {
    border: none;
    width: 200px;
    color: white;
    background-color: #3B3A3E;
    border: solid;
    border-radius: 10px;
    border-width: 1px;
    font-size: 18px;
    transition: all 0.5s ease;
}

.facebookBtn:hover {
    background-color: #CCB186;
    border: none;
    width: 210px;
}

.instagramBtn {
    border: none;
    width: 200px;
    color: white;
    background-color: #3B3A3E;
    border: solid;
    border-radius: 10px;
    border-width: 1px;
    font-size: 18px;
    transition: all 0.5s ease;
}

.instagramBtn:hover {
    background-color: #CCB186;
    border: none;
    width: 210px;
}

.footer-a{
    position: relative;
}

.footer-a::before {
    content: '';
    width: 0;
    height: 2px;
    background-color: #CCB186;
    position: absolute;
    bottom: 0;
    transition: 0.5s ease;
}

.footer-a:hover::before{
    width: 100%;
}


@media(max-width: 991px){
    .sideBar{
        background-color: #3b3a3e9a;
        backdrop-filter: blur(10px);
    }
    .nav-link{
        color: white !important;
    }

    .nav-link button {
        background-color: #CCB186;
        border: none;
        margin-top: 20px !important;
    }


}

@media(max-width: 400px){
    .navbar-brand img{
        height: 100px;
    }

    .hero-container{
        height: 400px;
    }

    .first-title{
        padding-top: 100px !important;
        text-align: center;
        font-size: 30px;
    }
    .second-title{
        text-align: center;
        font-size: 40px;
    }
    #btnStores{
        display: flex !important;
        align-items: center !important;
        justify-content: center !important;
        
    }
    .btnStores {
        margin-top: 10px !important;
        width: 220px !important;
        height: 40px !important;
        font-size: 14px !important;
    }

    .annoucement  {
        font-size: 20px !important;
    }

    .few-words-about {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 10px !important;
        padding-bottom: 10px !important;
    }

    .main-few-about {
        padding-top: 10px !important;
        padding-bottom: 10px !important;
    }

    .a-few-words{
        font-size: 20px !important;
    }

    .few-words-img {
        margin-top: 10px !important;
        height: 150px !important;
    }

    .few-words-about:nth-child(1){
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .aboutLINQ {
        margin-top: 40px !important;
        font-size: 16px;
    }

    .a-few-words::before{
        left: 40px;
    }
}
