@import url('https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&family=Inria+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: "Inria Serif";
}

.navbar-brand img{
    height: 200px;
}

.nav-item a{
    font-size: 22px;
    color: #3B3A3E;
}

.gettinghere{
    background-color: #CCB186 !important;
    height: 42px;
    width: 170px;
    border-radius: 5px;
    color: white;
    border: none;
    font-size: 20px;
}