@import url('https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&family=Inria+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&family=Inria+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Kaushan+Script&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: "Inria Serif";
}


.navbar-brand img{
    height: 150px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.navbar {
    transition: all 0.5s ease;
}

.navbar-scrolled {
    background-color: rgba(255, 255, 255, 0.868) !important;
    backdrop-filter: blur(15px);
}


a{
    text-decoration: none;
    color: #3B3A3E;
}




.nav-item a{
    font-size: 20px;
    color: #3B3A3E;
}

.menubar-scrolled{
    color: #3B3A3E !important;
}

.c-caption p {
    font-size: 60px;
}

.c-caption h1{
    font-family: "Kaushan Script";
    font-size: clamp(2rem, 10vw, 10rem);
    color: #fcddae;
    margin-bottom: 60px;
}


.c-item {
    height: 100dvh;
    position: relative;
}

.c-item::before{
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    z-index: 1;
    background-color: #333333a1;

}

.c-img{
    height: 100%;
    object-fit: cover;
    z-index: 0;
    position: relative;
}

.c-caption{
    z-index: 2;
    text-align: start;
    top: 30%;

}

.carousel-control-prev {
    z-index: 3;
}

.c-item .btnStores {
    text-decoration: none;
    color: white;
    background-color: transparent;
    font-size: 20px;
    border: solid;
    border-width: 1px;
    border-radius: 5px;
    padding: 10px 30px; 
    width: 300px; 
    transition: 0.5s ease;
}


.c-item .btnStores:hover {
    background-color: #CCB186;
    border: none;
    width: 320px;
}

.a-few-words{
    color: #3B3A3E;
    position: relative;
}

.a-few-words::before {
    content: '';
    width: 100px;
    height: 6px;
    background-color: #CCB186;
    position: absolute;
    top: -20px;
}

.few-words-img{
    height: 300px;
}

.our-services{
    position: relative;
}

.our-services::before{
    content: '';
    width: 100px;
    height: 6px;
    background-color: #CCB186;
    position: absolute;
    top: -20px;
    left: 45%;
}

.zoom-img{
    overflow: hidden !important;
}

.zoom-img img{
    transition: all 0.5s ease-in-out !important;
}

.zoom-img img:hover {
    transform: scale(1.2) !important;
}

.where-to-find{
    position: relative;
}

.where-to-find::before{
    content: '';
    width: 100px;
    height: 6px;
    background-color: #CCB186;
    position: absolute;
    top: -20px;
    left: 0;
}

.btnDirections {
    width: 230px; 
    background-color: #FEF7ED; 
    border-radius: 5px; 
    border-width: 1px; 
    border-color: #555555;
    font-size: 18px; 
    transition: 0.5s ease;
}



.btnDirections:hover {
    background-color: #CCB186;
    border: none;
    color: white;
    width: 250px;
}

.facebookBtn {
    border: none;
    width: 200px;
    color: white;
    background-color: #3B3A3E;
    border: solid;
    border-radius: 10px;
    border-width: 1px;
    font-size: 18px;
    transition: all 0.5s ease;
}

.facebookBtn:hover {
    background-color: #CCB186;
    border: none;
    width: 210px;
}

.instagramBtn {
    border: none;
    width: 200px;
    color: white;
    background-color: #3B3A3E;
    border: solid;
    border-radius: 10px;
    border-width: 1px;
    font-size: 18px;
    transition: all 0.5s ease;
}

.instagramBtn:hover {
    background-color: #CCB186;
    border: none;
    width: 210px;
}

.footer-a{
    position: relative;
}

.footer-a::before {
    content: '';
    width: 0;
    height: 2px;
    background-color: #CCB186;
    position: absolute;
    bottom: 0;
    transition: 0.5s ease;
}

.footer-a:hover::before{
    width: 100%;
}

.direction-hero-container{
    position: relative;
}

.direction-hero-container img {
    width: 100%;
    height: 700px;
    object-fit: cover;
}

.direction-hero-container::before {
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    z-index: 1;
    background-color: #333333a1;
}

.direction-hero-container h1 {
    position: absolute;
    top: 43%;
    left: 0%;
    right: 0;
    z-index: 2;
    font-size: clamp(1.5rem, 10vw, 5rem);
}

.direction-container h1{
    position: relative;
}


.direction-container h1::before {
    content: '';
    width: 10%;
    height: 6px;
    background-color: #CCB186;
    position: absolute;
    top: -15px;

}


.whatsnew-hero-container{
    position: relative;
    height: 100dvh;
}

.whatsnew-hero-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.whatsnew-hero-container::before {
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    z-index: 1;
    background-color: #333333a1;
}

.w-caption {
    position: absolute;
    top: 37%;
    left: 19%;
    z-index: 2;
}

.input-icons {
    position: relative;
}

.input-icons i{
    position: absolute;
    font-size: 1.5rem;
    bottom: 16px;
    margin-right: 20px;
    color: lightgray;
}


.filter-btn.active {
    background-color: #faeedc;
    border-style: solid;
    border-radius: 10px;
    border-width: 1px;
    border-color: #f8ddb6;
}

@media(max-width: 1320px){
    .carousel-caption p {
        text-align: center !important;
    }
    .c-caption h1 {
        font-size: 100px !important;
        text-align: center !important;
    }
    .c-caption a {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .carousel-indicators {
        top: 95% !important;
    }

    .services-details p {
        font-size: 1rem !important;
    }

    .w-caption {
        left: 0 !important;
        right: 0 !important;   
        padding-left: 30px !important;
        padding-right: 30px !important; 
    }
}

@media(max-width: 3000px){
    .w-caption {
        left: 0 !important;
        right: 0 !important;
    }
}



@media(max-width: 991px){
    .sideBar{
        background-color: #3b3a3e9a;
        backdrop-filter: blur(10px);
        height: 100vh;
    }
    .nav-link{
        color: white !important;
    }

    .gettinghere {
        margin-top: 20px;
    }

    .gettinghere a{
        width: 100%;
        text-align: center;
    }

    .hero-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .carousel-caption p {
        font-size: 50px !important;
        text-align: center !important;
    }

    .carousel-caption a {
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
    }

    .carousel-caption h1 {
        font-size: 70px !important;
        text-align: center;
    }

    .few-words-img {
        height: 200px;
    }

    .aboutLINQ{
        font-size: 16px;
        margin-top: 50px;
    }

    .services-details {
        padding-left: 12px !important;
        width: 100%;
        margin-bottom: 50px !important;
    }

    .services-details p {
        margin-top: 30px !important;
    }

    .services-img{
        margin-top: 20px !important;
        width: 100%;
    }

    .services {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .where-to-find-us {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100% !important;
    }
    .contact-details {
        width: 100% !important;
    }

    .thelinqMap {
        height: 500px !important;
        width: 100% !important;
    }

    .map-container{
        width: 100%;
        margin-bottom: 100px;
        margin-top: 50px !important;
    }

    .where-to-find {
        margin-top: 100px !important;
        font-size: 40px !important;
    }

    .btnDirections {
        width: 200px !important;
        font-size: 16px !important;
    }

    .footer-container {
        display: flex;
        flex-direction: column;

    }

    .footer-header{
        width: 100%;
        margin-bottom: 50px !important;
    }

    .footer-links {
        width: 100% !important;
    }

    .w-caption {
        left: 0 !important;
        right: 0 !important;
        padding-left: 30px !important;
        padding-right: 30px !important;
    }
    .w-caption p {
        font-size: 1rem !important;
    }


}



@media(max-width: 480px){
    .fa-less-than{
        display: none !important;
    }
    .fa-greater-than {
        display: none !important;
    }
    .sideBar{
        background-color: #3b3a3e9a;
        backdrop-filter: blur(10px);
        height: 100vh;
    }
    
    .navbar-brand img{
        height: 100px;
    }

    .c-caption {
        width: 100% !important;
        top: 35% !important;
        left: 0 !important;
    }
    .c-caption p {
        font-size: 25px !important;
    }


    .btnStores {
        margin-top: 5px !important;
        width: 300px !important;
        height: 40px !important;
        font-size: 14px !important;
    }

    .annoucement  {
        font-size: 20px !important;
    }

    .few-words-about {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 10px !important;
        padding-bottom: 10px !important;
    }

    .main-few-about {
        padding-top: 10px !important;
        padding-bottom: 10px !important;
    }

    .a-few-words{
        font-size: 20px !important;
    }

    .few-words-img {
        margin-top: 10px !important;
        height: 150px !important;
    }

    .few-words-about:nth-child(1){
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .aboutLINQ {
        margin-top: 40px !important;
        font-size: 16px;
    }

    .a-few-words::before{
        left: 40px;
    }

    .our-services {
        font-size: 30px !important;
    }
    .our-services::before{
        left: 37% !important;
    }
    .services-sub {
        font-size: 16px !important;
    }
    .services-container {
        width: 100% !important;
    }

    .services-details p {
        font-size: 16px !important;
    }

    .thelinqMap {
        height: 300px !important;
        width: 100% !important;
    }
    .facebookBtn {
        width: 150px !important;
        font-size: 14px !important;
    }
    .instagramBtn {
        width: 150px !important;
        font-size: 14px !important;
    }
    .footer-nav {
        font-size: 13px !important;
    }
    .all-rights-reserve {
        font-size: 15px !important;
    }

    .w-caption p {
        font-size: 1rem !important;
    }
    .w-caption {
        left: 0 !important;
        right: 0 !important;
        padding-left: 30px !important;
        padding-right: 30px !important;
    }

    .direction-hero-container img {
        height: 500px !important;
    }
    .modal-container {
        display: flex !important;
        justify-content: center !important;
    }
}
